/* grid layout */
Screen {
    layers: below middle above;
}

Static {
    content-align: center middle;
}



#sidebar {
    dock: right;
    width: 15;
    height: 100%;
    color: white;
    background: darkgoldenrod;
}

#app-grid {
    layout: grid;
    grid-size: 3 4;  
    grid-columns: 4fr 1fr;
    background: $panel;
    border: darkgoldenrod vkey;
}

#header > Static {
    color: whitesmoke;
    text-style: bold;
}

#header {
    dock: top;
    width: 100%;
    column-span: 3;
    background: darkgoldenrod;
    height: 1;
    align: center top;
}

#footer > Static {
    color: whitesmoke;
    text-style: bold;
}

#footer {
    dock: bottom;
    width: 100%;
    column-span: 3;
    background: darkgoldenrod;
    height: 1;
    align: center top;
}

#right-pane {
    dock: right;
    width: 15; 
    background: $panel;
}

#submit {
    background: orange;
    layer: above;
    offset: 1 0;
    height: 5;
    content-align: center middle;
    /* text-align: center; */
    color: whitesmoke;
}

#box2 {
    layer: below;
    background: seagreen;
    offset: 6 1;
    width: 4;
    height: 18;
}

#box3 {
    layer: middle;
    background: rgba(39, 55, 51, 0.199);
    offset: 7 2;
    width: 2;
    height: 16;
}

#top-left {
    row-span: 3;
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr;
    grid-rows: 1fr;
    background: $panel;
}

#insert {
    height: 100%;
    border: seagreen round;
    content-align: center middle;
    background: $panel;
}

#select{
    height: 100%;
    border: seagreen round;
    content-align: center middle;
    background: $panel;
}

#create {
    width: 100%;
    height: 100%;
    border: seagreen round;
    column-span: 3;
    background: $panel;
}

#top-right {
    column-span: 2;
    row-span: 3;
    layout: grid;
    grid-size: 1 10;
    /* grid-columns: 1fr;
    grid-rows: 1fr; */
    background: $panel;
    border-left: darkgoldenrod ascii;
    border-right: darkgoldenrod ascii;
}

#vegetable {
    row-span: 2;
    background: $boost;
    border: whitesmoke round;
}

#quantity {
    row-span: 2;
    background: $boost;
    border: whitesmoke round;
}

#middle-pane {
    row-span: 6;
    background: $panel;
}

#error {
    height: 100%;
    color: red;
    border: red round;
}

#warning {
    height: 100%;
    color: orange;
    border: orange round ;
}


#confirm {
    height: 100%;
    color: seagreen;
    border:  seagreen round;
}


#output {
    width: 100%;
    height: 100%;
    column-span: 3;
    background: $panel;
    border-top: darkgoldenrod ascii;
    border-right: darkgoldenrod ascii;
}

#output > Static {
    height: 100%;
    background: $boost;
}